<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color:red;">Familiar 2</h2>
    <p>El dia de hoy es:{{hoy}}</p>
    <p></p>
    <p>Nombre: {{mi_nombre}}</p>
    <p>Apellido: {{apellido}}</p>
    <p>Edad: {{edad}}</p>
    <p>Año de Nacimiento: {{año_de_nacimiento}}</p>
    <p>Profecion: {{profecion}}</p>
    <p>Parentesco: {{parentesco}}</p>
    <p>Numeros del quini {{num}}</p>
</body>
</html>