<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color:red;">Hola soy Matias Almiron y este es mi ejercicio de MVT</h2>
    <p>Para acceder al primer familiar cambien el la URL por /Familiar_1</p>
    <p>Para acceder al primer familiar cambien el la URL por /Familiar_2</p>
    <p>Para acceder al primer familiar cambien el la URL por /Familiar_3</p>
    <p></p>
    <p></p>
    <p>La fecha de hoy es: {{hoy}}</p>
</body>
</html>